<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name ="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no" >
</head>
<body>
	<nav th:fragment="topnav" class="navbar navbar-inverse navbar-fiexed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Systeme 3 Roches</a>
			</div>
			<div class="text-white" sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
                <span sec:authentication="principal.authorities"></span>
             </div>
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-link pull-right navbar-brand" type="submit">Déconnexion</button>
			</form>
			
		</div>
	</nav>
</body>
</html>